*{
    margin: 0 px;
    padding: 0px;
}


/*::after {
    content: '';
    clear: both;
    display: block;
}*/

main{
    margin: 0 auto;
    width: 100%;
}

header{
    width: 100%;
    position:relative;
  
}
header > img{
    width: 100%;
}
.naslov{
    position: absolute;
    top: 0px;
    left: 0;
    bottom:0;
    right:0;
}
#table{
    width: 100%;
    height: 100%;
    display: table;
}
#table-cell{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

h1{
    margin:0px;
    color:black;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
    

    
}
button{
    background-color: #4d79ff;
    border-radius: 20px;
    padding:10px 25px 10px 25px;
    margin-top:30px;
    border:none;
    color:white;
    font-family: 'Open Sans', sans-serif;

}
section{
    width: 100%;
}
p{
    text-align: center;
    font-size: 30px;
    color: gray;
}
section > p > span{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    border-left: 3px solid gray;
    color: orange;
    padding-left: 10px;
    
}
.lista{
    background-color: #99b3ff;
    text-align:center;
    margin: 8px;
   
    
}

#logo span::after {
    content: '';
    clear: both;
    display: none;
} 
/*#logo::after {
    content: '';
    clear: both;
    display: none;
} */
   

.lista1{
    text-decoration:none;
    color:white;
    padding: 20px;
    font-weight: bold; 
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    float: none;
    
}
div > ul > a{
    text-decoration: none;
    width: 100%;
}

.about {
}
.about h2 {
    color: black;
    margin-top: 80px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.container-box{
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.hr {
    width: 30%;
}

h3{
    color: #99b3ff;
}
.container-box > p{
    font-size: 20px;
    text-align: left;
}
.fa{
    color: orange;
}
li{
    list-style-type: none;
    color: gray;
    padding-bottom: 25px;
}

.container-box img{
    width: 100%;
    box-sizing: border-box;
}

.people{
    width: 80%;
    margin: 0px auto;
    box-sizing: border-box;
    padding:20px;
    
}
.people-box{
background-color: #99b3ff;
box-sizing: border-box;
padding:0px 10px 20px 10px;
margin-top: 20px;
}


.people-box-1>p{
    font-size: 15px;
    display:inline-block;
    position: relative;
    top: 10px;
    color:black;
}


.img-w{
    width:50px;
    height:50px;
    border-radius:25px;
    margin-left: 20px;
    margin-top:20px;
    display:inline-block;
    vertical-align: middle;
     position:relative;
     border: 2px solid white;
     
}
.people-p{
    display:inline;
    font-size:15px;
    color:white;    
}


.GetInTouch{
    width: 100%;
    margin: 0px auto;
}

#contact-div{
    width: 100%;
    text-align: center;
    padding:10px 0px 10px 0px;
   
    
}
#contact-div p{
    color:white;
    font-size: 20px;
    

}
.green-div{
    background-color:rgb(58, 221, 154);  
}
.pink-div{
    background-color:rgb(252, 82, 130);
}
.blue-div{
    background-color:#3333CC;
}
.plavi-div{
    background-color:#33CCCC;
    
}
.sarena-kucica{
    width:300px;
    height:300px;
}
.mapa{
    width:100%;
    margin:0px auto;
}
iframe{
    width: 100%;
    height:350px;
}
.forma{
    width:100%;
    padding: 50px 0px;
    margin:0px auto;
}
form {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}
input{
    width:100%;
    margin-bottom: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
}

textarea {
    margin-top: 20px;
    width: 100%;
}

      
     
 

/*@media only screen and (min-width: 768px) {
    .lista {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
    }

    .lista1 {
        float: left;
    }

    .logo p {
        position: absolute;
        top: 0;
        left: 22px;
        text-align: left;
        color: white;
    } 
    #container-box{
        width: 50%;
        text-align: left;
        float:left;
        margin-bottom: 40px;
    }

    #slika_zgrade{
        width: 50%;
        float:right;
    }

    #container-box2 h3 {
        margin-left: 5%;
    }
    #container-box2>p {
        margin-left: 5%;
    }
    .lista3 {
        margin-left: 5%;
    }
}*/
