*{
    margin: 0 px;
    padding: 0px;
}


/*::after {
    content: '';
    clear: both;
    display: block;
}*/

main{
    margin: 0 auto;
    width: 100%;
}

header{
    width: 100%;
    position:relative;
  
}
header > img{
    width: 100%;
}
.naslov{
    position: absolute;
    top: 0px;
    left: 0;
    bottom:0;
    right:0;
}
#table{
    width: 100%;
    height: 100%;
    display: table;
}
#table-cell{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

h1{
    margin:0px;
    color:black;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
    

    
}
button{
    background-color: #4d79ff;
    border-radius: 20px;
    padding:10px 25px 10px 25px;
    margin-top:30px;
    border:none;
    color:white;
    font-family: 'Open Sans', sans-serif;

}
section{
    width: 100%;
}
p{
    text-align: center;
    font-size: 30px;
    color: gray;
}
section > p > span{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    border-left: 3px solid gray;
    color: orange;
    padding-left: 10px;
    
}
.lista{
    background-color: #99b3ff;
    text-align:center;
    margin: 8px;
   
    
}

#logo span::after {
    content: '';
    clear: both;
    display: none;
} 
/*#logo::after {
    content: '';
    clear: both;
    display: none;
} */
   

.lista1{
    text-decoration:none;
    color:white;
    padding: 20px;
    font-weight: bold; 
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    float: none;
    
}
div > ul > a{
    text-decoration: none;
    width: 100%;
}
#container-box{
    width: 100%;
    text-align: center;
    
}
#whoweare {
    color: black;
    margin-top: 80px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

.hr {
    width: 30%;
    
}

h3{
    color: #99b3ff;
    float: left;
    margin-left: 10%;
}
#container-box > p{
    clear: left;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}
.fa{
    color: orange;
}
.lista2, .lista3{
    margin-left:10%;

}
li{
    list-style-type: none;
    color: gray;
    padding-bottom: 25px;
}
#slika_zgrade{
    width: 100%;

}
#bela_zgrada{
    width: 100%;
    box-sizing: border-box;
    padding: 40px;

}
#container-box2{
    width: 100%;
    text-align: center;
}
#container-box2 > p{
    clear: left;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}
.people{
    width: 80%;
    margin: 0px auto;
    box-sizing: border-box;
    padding:20px;
    
}
.people-box{
background-color: #99b3ff;
box-sizing: border-box;
padding:0px 10px 20px 10px;
margin-top: 20px;
}

.what-people-say h3{
    color: black;
    margin:0px auto;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
}

.people-box-1>p{
    font-size: 15px;
    display:inline-block;
    color:black;
}


.img-w{
    width:50px;
    height:50px;
    border-radius:25px;
    margin-left: 20px;
    margin-top:20px;
    display:inline-block;
    vertical-align: middle;
     position:relative;
     
}
.people-p{
    display:inline;
    font-size:15px;
    color:white;
    
    
}
.what-people-say{
    padding:30px;
    margin-bottom:20px;

}
.GetInTouch{
    width: 100%;
    margin: 0px auto;
}


    .contact-box{
        width:100%;
        margin:0px auto;
        background-color:green;
        box-sizing: border-box;
    }
    .contact-us{
        margin-bottom: 20px;
        padding:20px;
    }
    .contact-us h3{
        color: black;
        font-size: 20px;
    }
   .contact-box1{
       margin:0px auto;
      
       
   }
   .contact-box1 p{
       color: white;
       font-size: 20px;
       display: inline;
       margin: 0px auto;
       
       
   }
     
 

/*@media only screen and (min-width: 768px) {
    .lista {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
    }

    .lista1 {
        float: left;
    }

    .logo p {
        position: absolute;
        top: 0;
        left: 22px;
        text-align: left;
        color: white;
    } 
    #container-box{
        width: 50%;
        text-align: left;
        float:left;
        margin-bottom: 40px;
    }

    #slika_zgrade{
        width: 50%;
        float:right;
    }

    #container-box2 h3 {
        margin-left: 5%;
    }
    #container-box2>p {
        margin-left: 5%;
    }
    .lista3 {
        margin-left: 5%;
    }
}*/
